{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<title>
	{% block title %}EdPro{% endblock%}
</title>

<nav class="navbar navbar-inverse navbar-static-top bg-dark" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand text-light" rel="home" href="/" 
			title="Education of professional">EdPro
		</a>
	</div>
	<a class="nav-item nav-link text-light" href="#">Home</a>
	<a class="nav-item nav-link text-light" href="{% url 'maths:index' %}">Maths</a>
	<a class="nav-item nav-link text-light" href="#">Python</a>
	<a class="nav-item nav-link text-light" href="#">Java</a>
	<a class="nav-item nav-link text-light" 
		href="{% url 'login' %}"><strong>Sign in</strong></a>
	<a class="nav-item nav-link text-light" 
		href="#"><strong>Sign up</strong></a>
</nav>

{% block content %}
{% endblock %}
