{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

<nav class="navbar navbar-dark bg-dark justify-content-between">
	<a class="navbar-brand" href="#">EdPro</a>
	<a class="nav-item nav-link text-light" href="#">Home</a>
	<a class="nav-item nav-link text-light" href="{% url 'maths:index' %}">Maths</a>
	<a class="nav-item nav-link text-light" href="#">Python</a>
  	<form class="form-inline">
    	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    	<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
  	</form>
</nav>
